/* Base styles */
/* x */

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .cabim {
        width: 22em; /* Adjust width for smaller screens */
    }
}

@media (max-width: 768px) {
    .cabim {
        width: 18em; /* Further adjust width for even smaller screens */
    }
}

@media (max-width: 480px) {
    .cabim {
        width: 14em; /* Adjust width for mobile devices */
    }
}
